/* --- home page --- */

.navbar-li {
	display: inline-block;
	text-decoration: none;
	margin-left: 50px;
}
.box {
	display: inline-block;
	margin-top: 50px;
	margin-left: 50px;
	background: #F2F2F2;
}
.image {
	height: 50px;
}

.text {
	display: inline-block;
	width: 500px;
	margin-left: 20px;
}
.satauri {
	margin-bottom: 20px;
}
.cnobari {
	margin-top: 60px;
	margin-left: 50px;
}
.image11 {
	margin-left: 38px;
	/*margin-top: 50px;*/ 
}
.menuBar {
	display: inline-block;
	vertical-align: middle;
	margin: 30px 30px 20px 30px;
}

/* --- contact pages body --- */

.contactPage {
	background-color: #E6E6E6;
}

.contactPage div {
	display: inline-block;
	vertical-align: top;
}

.map {
	position: initial;
	margin: 52px 90px 52px 44px;
}

.contactInfo {
	margin: 52px 90px auto 44px;
}

.contactInfo h3 {
	font-family: "BPG Nino Mtavruli";
	font-size: 20px;
	font-weight: bold;
	color: #3D58A6;
}

.contactInfo p {
	font-family: "BPG Ingiri Arial";
	font-size: 16px;
	color: #00000;
}

.contactInfo span {
	font-family: "BPG Ingiri Arial";
	font-size: 16px;
	color: #808080;
	line-height: 150%;
}

/* --- footer --- */

.footerIcon {
	height: 30px;
	display: inline-block;
	vertical-align: middle;
}

.footerIcon img {
	height: 100%;
}

.footerDivider {
	border-right: 1px solid #3D58A6;
	padding: 0 35px 0 18px;
	margin-right: 30px;
}

.footerHeight {
<<<<<<< Updated upstream
	margin: 35px 44px;
=======
	margin: 35px 30px;
}
